@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

/* CABEÇALHO */

header{
    background-color: #197016;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
}

.logo img{
    width: 300px;
}

.row-header {
    height: 5px;
    background-color: #0b310a;
}


/* Menu = menu lateral */
#menu {
    display: none;
    color: black;
    position: absolute;
}

#menu a {
    color: white;
}

.botao {
    color: white;
    display: block;
    width: 100px;
    cursor: pointer;
}

#botao-menu {
    font-size: 50px;
}

.nav-list {
    background-color: #4e7a4c;
    width: 170px;
    padding: 50px 0px;
    border-radius: 0px 0px 40px 0px;
    box-shadow: 5px 5px 6px #0b310a51;
}

.nav-list ol {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}










/* RODAPÉ */
footer{
    background-color: #197016;
}

.footer-father {
    display: flex;
    color: white;
    justify-content: center;
    gap: 200px;
    padding: 20px;
    align-items: center;
}

.footer-father a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
}

.footer-father p {
    text-align: center;
}



