body{
    font-family: sans-serif;
}
header{
    background-image: linear-gradient(to bottom, #3bee27,#06b500,#11660e);
    height: 100px;
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 100px;
}
footer{
    background-image: linear-gradient(to bottom,#3bee27,#06b500,#11660e);
    height: 100px;
    width: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
a:link{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
 a:visited{
    color: white;
}
main{
    display: flex;
    justify-content: center;
}
.container {
    background-image: linear-gradient(to bottom, #ebebeb,#c9c9c9,#707070);
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    align-items: flex-end;
    display: flex;
    justify-content: center;
}
.profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.profile-form {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 8px;
    transform: translate(50%,0%);
}
.profile-pic {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}
.profile-pic img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}  
.profile-pic button {
    background-image: linear-gradient(to bottom,#3bee27,#06b500,#11660e);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
} 
.form-inputs {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
} 
.form-inputs h2 {
    margin-bottom: 10px;
} 
.form-inputs input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
} 
.form-inputs button {
    background-image: linear-gradient(to bottom,#3bee27,#06b500,#11660e);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}